.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

img {
    animation: spin 2s;
}

@keyframes rock {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(50px);
    }
    67% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0);
    }
}

#bear:active {
    animation: rock 2s;
}

@keyframes disappear {
    0% {
        transform: scale(100%);
    }
    100% {
        transform: scale(10%);
        opacity: 0%
    }
}

#elephant:active {
    animation: disappear 2s;
}

@keyframes dance {
    0% {
        transform: rotate(15deg) translateY(10px);
    }
    33% {
        transform: rotate(15deg) translateY(10px);
    }
    67% {
        transform: rotate(-15deg) translateY(-10px);
    }
    100% {
        transform: rotate(0deg) translateY(0px);
    }
}

#giraffe:active {
    animation: dance 2s;
}


